include README.md
include requirements*
include docs/*.txt
include abutils/core/*
include abutils/plots/*
include abutils/plots/models/*
include abutils/tenx/*
include abutils/tools/*
include abutils/utils/*
include abutils/utils/matrices/*
include abutils/binaries/*
include abutils/binaries/mafft_darwin/*
include abutils/binaries/mafft_darwin/mafftdir/*
include abutils/binaries/mafft_darwin/mafftdir/bin/*
include abutils/binaries/mafft_darwin/mafftdir/libexec/*
include abutils/binaries/mafft_linux/*
include abutils/binaries/mafft_linux/mafftdir/*
include abutils/binaries/mafft_linux/mafftdir/bin/*
include abutils/binaries/mafft_linux/mafftdir/libexec/*
