include README.md
include requirements*
include docs/*.txt
include abutils/core/*
include abutils/plots/*
include abutils/plots/models/*
include abutils/tenx/*
include abutils/tools/*
include abutils/utils/*
include abutils/utils/matrices/*
include abutils/bin/*
include abutils/bin/mafft_darwin_amd64/*
include abutils/bin/mafft_darwin_amd64/mafftdir/*
include abutils/bin/mafft_darwin_amd64/mafftdir/bin/*
include abutils/bin/mafft_darwin_amd64/mafftdir/libexec/*
include abutils/bin/mafft_darwin_arm64/*
include abutils/bin/mafft_darwin_arm64/mafftdir/*
include abutils/bin/mafft_darwin_arm64/mafftdir/bin/*
include abutils/bin/mafft_darwin_arm64/mafftdir/libexec/*
include abutils/bin/mafft_linux_amd64/*
include abutils/bin/mafft_linux_amd64/mafftdir/*
include abutils/bin/mafft_linux_amd64/mafftdir/bin/*
include abutils/bin/mafft_linux_amd64/mafftdir/libexec/*