include README.md
include requirements*
include docs/*.txt
include abutils/core/*
include abutils/plots/*
include abutils/plots/models/*
include abutils/tenx/*
include abutils/tools/*
include abutils/utils/*
include abutils/utils/matrices/*
include abutils/binaries/cdhit*
include abutils/binaries/fastp*
include abutils/binaries/fasttree*
include abutils/binaries/minimap2*
include abutils/binaries/mmseqs*
include abutils/binaries/muscle*
include abutils/binaries/sickle*
include abutils/binaries/vsearch*
include abutils/binaries/mafft_darwin/mafft.bat
include abutils/binaries/mafft_darwin/mafftdir/bin/mafft
include abutils/binaries/mafft_darwin/mafftdir/libexec/*
include abutils/binaries/mafft_linux/mafft.bat
include abutils/binaries/mafft_linux/mafftdir/bin/mafft
include abutils/binaries/mafft_linux/mafftdir/libexec/*

