abstar >= 0.5.9
baltic
biopython >= 1.78
celery
ete3
fastcluster
matplotlib
mnemonic
natsort
numpy
pandas
paramiko
parasail
pymongo
pytest
python-circos
python-Levenshtein
pyyaml
sample-sheet
scikit-learn
scipy
seaborn >= 0.11
smart_open
