sphinx
sphinx_rtd_theme
furo
pydata-sphinx-theme
sphinx-material
sphinxawesome-theme
sphinx_copybutton
sphinx_togglebutton
sphinx_design
autodocsumm
# baltic
biopython
celery
# ete3
# fastcluster
# matplotlib
# mnemonic
natsort
numpy
pandas
# paramiko
parasail
polars
pyarrow
pyfamsa
pyfastx
# pymongo
# pytest
# python-circos
# python-Levenshtein
# pyyaml
rapidfuzz
# sample-sheet
# scikit-learn
scipy
# seaborn
# smart_open
tqdm